

.page-wrapper{

display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100%;
}

.page-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.scale-content-wrapper {

display: flex;
  flex: 1;
  min-height: 0;
}



