/* 
.page-wrapper,
.page-content,
.lead-sheet-page {
  pointer-events: none;
}

.page-wrapper *,
.page-content *,
.lead-sheet-page * {
  pointer-events: auto;
}
 */




.vf-highlight-note {
  fill: #ff4444 !important;
  stroke: #ff4444 !important;
}
.vf-highlight-note path {
  stroke: red !important;
  fill: red !important;
}

.vf-highlight-measure {
  stroke: #ffaa00 !important;
  stroke-width: 3px !important;
}



.vf-highlight-measure rect {
  stroke: orange !important;
  stroke-width: 3px !important;
}




svg .voice-note path,
svg .voice-note text
 {

  /* color: red ; */
  stroke: darkslategrey ;
  fill: darkslategrey ;
}


/* .selected-note {
  filter: drop-shadow(0 0 4px #00f);
} */

.selected-note  {
  stroke: #00aaff !important;
  fill: #00aaff !important;
}

.selected-note * {
  stroke: #00aaff !important;
  fill: #00aaff !important;
}
.selected-note text {
  fill: #00aaff !important;
  stroke: #00aaff !important;
  stroke-width: 1 !important;
}

.selected-note path {
  stroke: #00aaff !important;
  fill: #00aaff !important;
}



.selected-note *:not(rect) {
  stroke: #00aaff !important;
  fill: #00aaff !important;
}

.fretboard-scroll {
  pointer-events: none;
}

.fretboard-scroll svg {
  pointer-events: auto;
}

